/*  Universidade de São Paulo - Campus São Carlos 
        
      Computer Engineering Thesis Project: Internet of "things" - controlling actuators through web pages
      Author: Sindélio Henrique Lima
      Advisor: Maximiliam Luppe
      
      June of 2017 
      
      This is a CSS style file, used to make the web page look nicer.
*/

button{ /* Button style */
    font-family: verdana; 
    font-size: 60px;
    padding: 10px;
    border: 3px solid black;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%; 
    position: absolute;
    top: 100px;
}
#div1{ /* Division 1 style */
    font-family: verdana;
    font-size: 20;
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    position: absolute;
    top: 60px;
}
#div2{ /* Division 2 style */
    font-family: verdana;
    font-size: 20;
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    position: absolute;
    top: 310px;
}
input{
    font-family: verdana;
    font-size: 20;
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    position: absolute;
    top: 350px;
}